
StarterPreperation/bin/main/com/java8/practice/StreamTest.class
StarterPreperation/bin/main/com/java8/practice/MethodRef.class
StarterPreperation/bin/main/com/java8/practice/MethodRef.class
StarterPreperation/src/main/hackerearth/.DS_Store
.DS_Store
*.class
StarterPreperation/.classpath
*.prefs
